.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d6683;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}

.wrapper:hover {
    background-color: #46831d;
    cursor: pointer;
}
